MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=sua_senha_secreta
MINIO_BUCKET_NAME=dados-ipca

# PostgreSQL (destino de carga das tabelas)
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DATABASE=postgres
PG_USER=postgres
PG_PASSWORD=sua_senha_secreta
PG_SCHEMA=public
