# Variáveis de ambiente
.env

# Diretório de dados gerados localmente
/dados_ipca/
*.parquet
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
env/
ENV/
.venv/

# Logs
*.log
cron_log.txt

# VS Code / IDEs
.vscode/
.idea/
*.swp
